.tree {
  background-color: #f6f4df;
  width:max-content;
  height: max-content;
  white-space: nowrap;
  margin-right: 20px;
  border-radius: 3px; 
  border: 1px solid black;
}

/* TODO Подумать, потыкать*/
.gwt-TreeItem-selected{
  background-color:#6697e6;
  padding-inline-start: 0%;
  padding-inline-end: 1vw;
}




.gwt-Label{
font-weight: bold;
}

.rootButton{
  cursor:pointer;
  display:block;
  text-align:center;
  background-repeat:no-repeat;
}

.value{
  height: 20px;
  margin-left: 3px;
  display: flex;
  align-items: center;
  
}

.selected{
  border-collapse: collapse;
  border:unset;
  border-color:black;
  margin: 4px;
  background-color: #f6f4df;
}

.wrapper-selected{
  background-color: #f6f4df;
  border: 1px solid black;
  border-radius: 5px;
}

.allNodesTable{
  border-collapse: collapse;
  border: black 2px;
  background-color: #f6f4df;
}

.wrapper-allNodes{
  background-color: #f6f4df;
  border-style:solid;
  width:400px 
}


.allNodesIdLabel{
  margin-left: 10px;
  margin-right: 40px;
}

.allNodesParentIdLabel{
  margin-right: 50px;

}
.allNodesNameLabel{
  margin-right: 50px;

}
.allNodesIpLabel{
  margin-right: 50px;

}
.allNodesPortLabel{
  margin-right: 40px;

}



.allNodesIdColumn{
  width: 30px;
}

.allNodesParentIdColumn{
  width: 60px;
}
.allNodesNameColumn{
  width: 70px;
}
.allNodesIpColumn{
  width: 50px;
}
.allNodesPortColumn{
  width: 50px;
}

.crud{
  background-color: #f6f4df;
  margin-top: 50px;
  padding: 5px 7px;
  text-decoration:double;
  cursor: pointer;
  cursor: hand;
  border:1px solid #bbb;
  border-bottom: 1px solid #a0a0a0;
  border-radius: 3px;
 -moz-border-radius: 3px;
  margin: left 10px;
  position: relative;
  top: 50p;
  width:400px;
}


.gwt-Button{
  	border-radius: 4px;
    margin-left:1000px;
}

.gwt-DialogBox .Caption {
  background: #F1F1F1;
  padding: 4px 8px 4px 4px;
  cursor: default;
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #bbbbbb;
  border-top: 1px solid #D2D2D2;
}

.gwt-DialogBox .dialogMiddleCenter {
  padding: 3px;
  background: white;
}

.gwt-DialogBox .dialogTopLeftInner {
  width: 10px;
  height: 8px;
  zoom: 1;
}
.gwt-DialogBox .dialogTopRightInner {
  width: 12px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomLeftInner {
  width: 10px;
  height: 12px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomRightInner {
  width: 12px;
  height: 12px;
  zoom: 1;
}

