.tree {
  background-color: #f6f4df;
  height: max-content;
  width: max-content;
  min-height: 30px;
  min-width: 200px;
  white-space: nowrap;
  margin-right: 20px;
  border-radius: 3px; 
  border: 1px solid black;
}


.gwt-TreeItem-selected{
  background-color:#6697e6;
  width: 100%;
  display: block !important;
}

.gwt-Label{
font-weight: bold;
}

.value{
  height: 20px;
  margin-left: 3px;
  display: flex;
  align-items: center;
  
}

.selected{
  border-collapse: collapse;
  border:unset;
  border-color:black;
  margin: 4px;
  background-color: #f6f4df;
}

.wrapper-selected{
  background-color: #f6f4df;
  border: 1px solid black;
  border-radius: 5px;
}

.all-nodes-table{
  border-collapse: collapse;
  border: black 2px;
  background-color: #f6f4df;
  width:420px;
  margin: 4px;
}

.wrapper-all-nodes{
  background-color: #f6f4df;
  border-style:solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  width:420px 
}


.all-nodes-id-Label{
  margin-left: 10px;
  margin-right: 15px;
  font-weight: bold;
}

.all-nodes-parentId-Label{
  margin-right: 60px;
  font-weight: bold;
}
.all-nodes-name-Label{
  margin-right: 100px;
  font-weight: bold;
}
.all-nodes-ip-Label{
  margin-right: 80px;
  font-weight: bold;
}
.all-nodes-port-Label{
  margin-right: 10px;
  font-weight: bold;
}

.tree div{
  width: 100%;
}

.all-nodes-id-Column{
  width: 30px;
}

.all-nodes-parentId-Column{
  width: 60px;
}
.all-nodes-name-Column{
  width: 150px;
}
.all-nodes-ip-Column{
  width: 100px;
}
.all-nodes-port-Column{
  width: 70px;
}

.crud{
  background-color: #f6f4df;
  margin-top: 50px;
  padding: 5px 7px;
  text-decoration:double;
  cursor: pointer;
  cursor: hand;
  border:1px solid #bbb;
  border-bottom: 1px solid #a0a0a0;
  border-radius: 3px;
 -moz-border-radius: 3px;
  margin: left 10px;
  position: relative;
  top: 50p;
  width:420px;
}


.gwt-Button{
  	border-radius: 4px;
    margin-left:1000px;
}

.gwt-DialogBox .Caption {
  background: #F1F1F1;
  padding: 4px 8px 4px 4px;
  cursor: default;
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #bbbbbb;
  border-top: 1px solid #D2D2D2;
}

.gwt-DialogBox .dialogMiddleCenter {
  padding: 3px;
  background: white;
}

.gwt-DialogBox .dialogTopLeftInner {
  width: 10px;
  height: 8px;
  zoom: 1;
}
.gwt-DialogBox .dialogTopRightInner {
  width: 12px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomLeftInner {
  width: 10px;
  height: 12px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomRightInner {
  width: 12px;
  height: 12px;
  zoom: 1;
}

.gwt-TextBox-readonly{
  background-color: #ECECEC;
}